#resume {
    background-color: #000000;
    /* Darkest black background */
    padding: 20px;
    border-radius: 10px;
}

#resume h2 {
    color: #800080;
    /* Purple text color */
}

#resume p {
    color: #09f;
    /* Dark grey text color */
    margin-bottom: 15px;
}

#resume button {
    background-color: #800080;
    /* Purple button color */
    color: #fff;
    /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resume button:hover {
    background-color: #09f;
    /* Dark grey color on hover */
}